@page
@model Contoso.Pages.Users.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <input type="hidden" name="UserID" value="@Model.User.UserID">
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="User.FullName" class="control-label"></label>
                <input asp-for="User.FullName" class="form-control" />
                <span asp-validation-for="User.FullName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="User.Email" class="control-label"></label>
                <input asp-for="User.Email" class="form-control" />
                <span asp-validation-for="User.Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="User.Password" class="control-label"></label>
                <input asp-for="User.Password" class="form-control" />
                <span asp-validation-for="User.Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="User.Role" class="control-label"></label>
                <input asp-for="User.Role" class="form-control" />
                <span asp-validation-for="User.Role" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="User.DepartmentID" class="control-label"></label>
                <select asp-for="User.DepartmentID" class="form-control" asp-items="ViewBag.DepartmentID"></select>
            </div>

            <div class="form-group">
                <label for="fileUpload" class="control-label">Upload Profile Document</label>
                <input type="file" asp-for="FileUpload" class="form-control" />
                <span class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create & Upload" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
